@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.register-color {
    color: #289BDE;
}

.carousel-cover-1 {
    background: linear-gradient(360deg, #030303 0%, rgba(29, 29, 29, 0.7) 70%), url(/images/cover/cover-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel-cover-2 {
    background: linear-gradient(360deg, #121212 0%, rgba(29, 29, 29, 0.7) 70%), url(/images/cover/cover-2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel-cover-3 {
    background: linear-gradient(360deg, #121212 0%, rgba(29, 29, 29, 0.7) 70%), url(/images/cover/cover-3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.course-border {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.course-title {
    color: #4A4A4A;
}

.course-description {
    color: #777777;
}

.course-price {
    color: #289BDE
}